  <div class="user-container">
    <img src=<%= user.photo %> alt="icon for <%= user.name[0...5]%>..." class="user-photo">
    <div class="user-information">
      <h2> <%= user.name %> </h2>
      <p>Posts: <%= user.posts_counter%></p>
    </div>
  </div>