<h1>users</h1>
<h2>this page shows the user information</h2>
<div id="show-user">
  <%= render @user %>
  <div class="user-bio">
    <p class="bio-title">Bio:</p>
    <p class="bio-information"><%= @user.bio %></p>
  </div>
  <ul class="post-ul">
    <%= render partial: "posts/post", collection: @user.recent_posts %>
  </ul>
  <button class="post-button">See all posts</button>
</div>

