<li class="post-container">
    <p class="post-number">Post #<%= post.id %></p>
    <p class="post-description"><%= post.text[0...250] %></p>
    <div class="post-interactions">
    <p>Comments: <%= post.comments_counter %></p>
    <p>Likes: <%= post.likes_counter %></p>
    </div>
</li>