.comments-ul {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* style for comments on post/index */

.post-ul .comments-ul {
  padding: 50px;
  padding-bottom: 20px;
  border: solid 0 transparent;
  position: relative;
  background: #222;
  color: #fff;
}

.post-ul .comments-ul::before {
  position: absolute;
  top: 0;
  left: 0;
  border: inherit;
  border-width: 1.25em 0 0 1.25em;
  width: 100%;
  height: 95%;
  box-shadow: inset 0 0 0 6px #088;
  mix-blend-mode: difference;
  pointer-events: none;
  content: '';
}

/* style for comments on posts/show */

.post-show-comments.comments-ul {
  width: 80%;
  font-family: 'Abril Fatface', cursive;
  position: relative; /* for pseudos */
  line-height: 1;
  margin: 0;
  border: 2px solid #fff;
  border: solid 2px;
  border-radius: 20px;
  padding: 25px;
}

.post-show-comments.comments-ul::after {
  content: "";
  position: absolute;
  border: 2px solid #222;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -62px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.post-show-comments.comments-ul::before {
  content: "";
  position: absolute;
  width: 80px;
  border: 6px solid #efefef;
  bottom: -3px;
  left: 50px;
  z-index: 2;
}

.comment-li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
