* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
}

.link-pages {
  color: #000;
  text-decoration: none;
}

.post-ul .link-pages {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.back-link {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  padding: 12px 3%;
  font-weight: 900;
}

.back-link:hover {
  color: #808;
}

.btn {
  background: transparent;
  border: 2px solid #000;
  padding: 0.5em 0.8em;
  font-size: 1.1em;
  font-weight: 900;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.btn-red:hover {
  background: rgb(227, 13, 13);
  color: #fff;
  border: 2px solid transparent;
}
